
<!-- Modal -->
<div class="modal fade" id="changePassModalCenter" tabindex="-1" role="dialog" aria-labelledby="changePassModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">Changer de mot de passe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    <div class="form-group">
                        <label for="new_password">Nouveau mot de passe :</label>
                        <input id="new_password" name="new_password" type="password" class="form-check-input" placeholder="..."/>
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe actuel :</label>
                        <input id="password" name="password" type="password" class="form-check-input" placeholder="..."/>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Changer le mot de passe</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>