<hr>
<div class="card">
    <div class="row full-width">
        <div class="col col-lg-2">
            <img src="./ressources/images/profil/sacha.jpg" class="full-width full-height image-profil"/>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="row" style="margin-top:20px;">
                        <div class="col">
                            <div class="experience-profil font-weight-bold margin">
                                <?php
                                    echo $compte->getExperience();
                                ?>
                            </div>
                        </div>
                        <div class="col">
                            <img src="./ressources/images/profil/xp.png" class="full-width" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <img src="./ressources/images/profil/lvl.jpg" class="full-width"/>
                        </div>
                        <div class="col">
                            <div class="experience-profil font-weight-bold margin">
                                <?php
                                    echo $compte->getLevel();
                                ?>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col">
                </div>
                <div class="col text-uppercase font-weight-bold" style="font-size:50px;">
                    <?php echo "Solde : ".$compte->getSolde(); ?>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
    <hr>
    <div class="row full-width">
        <div class="col col-lg-2">
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h4 class="text-center"><span class="fa fa-user"></span> INFORMATIONS DU COMPTE</h4>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h4 class="font-weight-bold text-center">Nom :</h4>
                            <hr>
                            <h6 class="font-weight-bold text-uppercase text-center">
                                <?php echo $compte->getNom(); ?>
                            </h6>
                        </div>
                        <div class="col">
                            <h4 class="font-weight-bold text-center">Prenom :</h4>
                            <hr>
                            <h6 class="font-weight-bold text-uppercase text-center">
                                <?php echo $compte->getPrenom(); ?>
                            </h6>
                        </div>
                        <div class="col">
                            <h4 class="font-weight-bold text-center">Pseudo :</h4>
                            <hr>
                            <h6 class="font-weight-bold text-uppercase text-center">
                                <?php echo $compte->getPseudo(); ?>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h4 class="text-center"><span class="fa fa-user"></span> INFORMATIONS COMPLEMENTAIRES</h4>
                    <hr>
                    <div class="row">
                        <div class="col">
                            <h4 class="font-weight-bold text-center">Adresse @mail :</h4>
                            <hr>
                            <h6 class="font-weight-bold text-uppercase text-center">
                                <?php echo $compte->getMail(); ?>
                            </h6>
                        </div>
                        <div class="col">
                            <h4 class="font-weight-bold text-center">N° téléphone :</h4>
                            <hr>
                            <h6 class="font-weight-bold text-uppercase text-center">
                                <?php echo $compte->getTelephone(); ?>
                            </h6>
                        </div>
                        <div class="col">
                            <h4 class="font-weight-bold text-center">Password :</h4>
                            <hr>
                            <button class="btn btn-info full-width" type="button" data-toggle="modal" data-target="#changePassModalCenter"><span class="fa fa-lock"></span> Changer le mdp</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>