<br><img class="full-width" src="./ressources/images/home.png" />
<hr>
<!--Nombres de pokemon-->
<div class="card">
    <div class="card-header">
        <span class="fa fa-bookmark"></span> Statistiques - global
    </div>
    <div class="card-body">
        <h5 class="card-title">Nombre de pokémons connu :</h5>
        <p class="card-text">
        </p>
        <a href="index.php?uc=redirect&ac=liste_pokemon" class="btn btn-primary pull-right">Accèdez au pokedex global <span class="fa fa-eye"></span> </a>
    </div>
</div>
