<div class="row full-width">
    <div class="col col-12">
        <div class="card">
            <div class="">
                <form class="form-horizontal" method="post" action="./index.php?uc=combat&ac=capture">
                    <fieldset>

                        <!--Nom du formulaire-->
                        <legend class="text-center">Capture de pokemon</legend>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col col-12">
                                <div class="row">
                                    <div class="col">
                                        <select id="selectpokemon" name="selectpokemon" class="form-control">
                                            <option value="">-- Choix du pokémon --</option>
                                            <?php
                                            for($i=0; $i<$collectionPokemon->getSize();$i++)
                                            {
                                                $id = $collectionPokemon->getObjectAtIndex($i)->getId();
                                                $lvl = $collectionPokemon->getObjectAtIndex($i)->getLevel();
                                                $espece = $collectionPokemon->getObjectAtIndex($i)->getEspece();
                                                if(PokemonManager::canTrain($id))
                                                {
                                                    echo "<option value=$id style='color:green;'>$espece (lvl : $lvl)</option>";
                                                }
                                                else
                                                {
                                                    echo "<option disabled='disabled' value=$id style='color:darkred;'>".$collectionPokemon->getObjectAtIndex($i)->getEspece()."</option>";
                                                }

                                            }
                                            ?>
                                        </select>
                                    </div>
                                    <div class="col">

                                        <select id="selectlieu" name="selectlieu" class="form-control">
                                            <option value="">-- Choix du lieux --</option>
                                            <?php
                                            foreach($lieux as $lieu)
                                            {
                                                echo "<option value='$lieu[0]'>$lieu[1]</option>";
                                            }
                                            ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col"></div>

                        </div>

                    </fieldset>
                    <input hidden name="capture_pokemon" value="capture">
                    <button type="submit" class="btn btn-danger pull-right">Capturer !</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row full-width">
    <div class="col"></div>
    <div class="col col-12">
        <div id="carouselLieux" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 img-rounded img-lieu" src="./ressources/images/combat/terrain/desert.jpg" alt="première slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 img-rounded img-lieu" src="./ressources/images/combat/terrain/montagne.jpg" alt="Seconde slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 img-rounded img-lieu" src="./ressources/images/combat/terrain/plage.jpg" alt="Troisième slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100 img-rounded img-lieu" src="./ressources/images/combat/terrain/prairie.jpg" alt="Quatrième slide">
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>